.date{

    position: absolute;

    width: 3vw;

    top: 1%;
    left: 93.5%;

    font-family: "inter-variable";


}

.date-wrapper{

    display: flex;

    flex-wrap: nowrap;
    flex-direction: row;

    justify-content: center;
    justify-items: center;

    align-content: center;
    align-items: center;

}

.date img{


    height: 2.2vh;
    width: 2.2vw;


}

.date img , p{

    padding: 3px;

}


@media only screen and (max-width: 850px){

.date{

    width: 3vw;

    top: 1%;
    left: 75%;



}

.date img{


    height: 3.2vh;
    width: 5.2vw;


}

.date img , p{

    padding: 3px;

}

}
