.date{

    position: fixed;
    font-family: "inter-variable";


}

.date-wrapper{

    display: flex;

    flex-wrap: nowrap;
    flex-direction: row;

    justify-content: center;
    justify-items: center;

    align-content: center;
    align-items: center;

}

.date img , p{

    padding: 3px;

}


@media only screen and (min-width: 320px){

.date{

    font-size: .4em;
    top: 5px;
    right: 19px;



}

.date img{


    height: 12px;
    width: 12px;


}

.date img , p{

    padding: 3px;

}

}


@media only screen and (min-width: 776px){

.date{

    font-size: .6em;
    top: 10px;
    right: 19px;



}

.date img{


    height: 15px;
    width: 15px;


}



}

@media only screen and (min-width: 1024px){

.date{

    font-size: 1em;
    top: 30px;
    right: 39px;



}

.date img{


    height: 25px;
    width: 25px;


}



}


@media only screen and (min-width: 1280px){

.date{

    font-size: 1.2em;
    right: 59px;


}



}
