@import url(./dino.css);
@import url(./countdown.css);
@import url(./date.css);
@import url(./products.css);

@font-face {
    font-family: "inter-variable";
    src: url(https://cdn.shopify.com/s/files/1/0671/7338/4483/files/Inter-VariableFont_slnt_wght.ttf?v=1682629096);
}

.Desktop{

    overflow: hidden !important;
    position: relative;

}

.red{

    background-color: #FF605C;

}

.yellow{

    background-color: #FFBD44;

}

.green{

    background-color: #00CA4E;

}

.stvorky{


    position: absolute;

    top: -48%;
    left: 1%;


}

.stvorky img{


    width: 40vw;
    height: 130vh;


}

.text-wrapper{

    display: flex;

    flex-wrap: nowrap;
    flex-direction: column;

}

.center{

    display: flex;

    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;


}

.text1{

    position: absolute;

    top: 42.5%;
    left: 10%;

    font-size: 1em;
    color: black;

}

.text2{

    position: absolute;

    font-family: Arial, Helvetica, sans-serif;


    font-size: 15em;

    top: 31%;
    left: 30%;

    transform: scale(.5, 1.5);

    font-family: Arial, Helvetica, sans-serif;


}

.text3{

    top: 25%;
    left: 45%;

    position: absolute;

    font-family: Arial, Helvetica, sans-serif;


    font-size: 17em;

    transform: scale(.5,1.5);
}


.text1, .text2, .text3, .countdown, .stvorky{


    user-select: none;

}

.apps{

    font-size: .7em;
    font-family: "inter-variable";
    font-weight: bold;

}

.apps img {

    width: 3.5vw;
    height: 7vh;

}

#shop, #files, #instagram, #tiktok{

    position: absolute;

    cursor: pointer;

}

#shop{


    left: 92.2%;

    top: 25%;

}

#files{

    left: 93.5%;
    top: 37%;

}

#instagram{


    left: 5%;
    top: 75%;

}

#tiktok{


    left: 11.5%;
    top: 75%;

}

footer{

    position: absolute;

    overflow: hidden !important;

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    top: 88%;
}

.footer-img-1{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    animation: movement 80s infinite linear;

    margin-left: -1%;
}

.footer-img-2{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    animation: movement 80s infinite linear;

}

@keyframes movement{

    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}



footer img{

    width: 13vw;
    height: 10vh;

    padding: 5px;

}

@media only screen and (max-width: 850px){

.stvorky{



    top: -20%;
    left: 1%;


}

.stvorky img{


    width: 55vw;
    height: 60vh;




}

.text1{


    top: 25%;
    left: 5%;
    font-size: .5em;

}

.text2{


    font-size: 11em;
    top: 55%;
    left: -35%;
    transform: scale(.5, 1.5);

}

.text3{

    top: 22%;
    left: -10%;
    font-size: 9em;

    transform: scale(.5,1.5);
}


.apps{

    font-size: .4em;

}

.apps img {

    width: 8vw;
    height: 5vh;

}

#shop{


    left: 89%;

    top: 20%;

}

#files{

    left: 90%;
    top: 30%;

}

#instagram{


    left: 89%;
    top: 40%;

}

#tiktok{


    left: 90.5%;
    top: 50%;

}

footer{

    top: 88%;
}

footer img{

    width: 25vw;
    height: 10vh;

    padding: 5px;

}

}
