@import url(./dino.css);
@import url(./countdown.css);
@import url(./date.css);
@import url(./products.css);
@import 'normalize.css';

@font-face {
    font-family: "inter-variable";
    src: url(https://cdn.shopify.com/s/files/1/0671/7338/4483/files/Inter-VariableFont_slnt_wght.ttf?v=1682629096);
}

.Desktop{

    overflow: hidden !important;
    position: relative;

}

.red{

    background-color: #FF605C;

}

.yellow{

    background-color: #FFBD44;

}

.green{

    background-color: #00CA4E;

}

.stvorky{


    position: fixed;

    top: -30%;
    left: 3%;


}

.stvorky img{

    max-width: 90vw;
    max-height: 90vh;


}

.text-wrapper{

    display: flex;

    flex-wrap: nowrap;
    flex-direction: column;

}

.center{

    display: flex;

    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;


}

.apps{

    font-size: .7em;
    font-family: "inter-variable";
    font-weight: bold;
    text-align: center;

}

.apps img {

    width: 3.5vw;
    height: 7vh;

}

#shop, #files, #instagram, #tiktok{

    position: fixed;

    cursor: pointer;

}

#shop{


    left: 92.2%;

    top: 25%;

}

#files{

    left: 93.5%;
    top: 37%;

}

#instagram{


    left: 5%;
    top: 75%;

}

#tiktok{


    left: 11.5%;
    top: 75%;

}

.bg-text{


    position: fixed;
    top: -12.5%;
    z-index: -1;

}

.bg-text img{


    object-fit: contain;
    height: 100%;
    width: 100%;
}

footer{

    position: fixed;

    overflow: hidden !important;

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    top: 87%;

    
}

.footer-img-1{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    animation: movement 80s infinite linear;

    margin-left: -1%;
}

.footer-img-2{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    animation: movement 80s infinite linear;

}

@keyframes movement{

    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}



footer img{

   max-height: 11vh; 


    padding: 5px;

}

@media screen and (min-width: 1024px){

.stvorky{

    top: -15%;
    left: 3%;
    

}

.stvorky img{

    max-height: 700px;


}

.apps{

    font-size: .7em;

}

.apps img {

    width: 4vw;
    height: 4vh;

}

#shop{


    left: 90.2%;

    top: 25%;

}

#files{

    left: 92.75%;
    top: 33.5%;

}

#instagram{


    left: 7.5%;
    top: 75%;

}

#tiktok{


    left: 17.5%;
    top: 75%;

}

.bg-text{


    top: 20%;

}

.bg-text img{


    width: 100%;
    height: 100%;
}

footer{

    overflow: hidden !important;
    top: 89%;

    
}

.footer-img-1{



    margin-left: -1%;
}


footer img{

   max-height: 100px; 
    padding: 5px;

}

}

@media screen and (min-width: 1280px){

.stvorky{

    top: -20%;
    left: 3%;

}

.stvorky img{

    max-height: 700px;


}

.apps{

    font-size: .7em;

}

.apps img {

    width: 50px;
    height: 50px;

}

#shop{


    left: 90.2%;

    top: 25%;

}

#files{

    left: 92%;
    top: 37%;

}

#instagram{


    left: 8%;
    top: 75%;

}

#tiktok{


    left: 16.5%;
    top: 75%;

}

.bg-text{


    top: 5%;
    z-index: -1;

}

.bg-text img{


    width: 100%;
    height: 100%;
}

footer{

    overflow: hidden !important;



    top: 87%;

    
}

.footer-img-1{



    margin-left: -1%;
}


footer img{

   max-height: 100px; 


    padding: 5px;

}


}


@media screen and (min-width: 1600px){

.stvorky{

    top: -20%;
    left: 3%;

}

.stvorky img{

    max-height: 700px;


}

.apps{

    font-size: .7em;

}

.apps img {

    width: 50px;
    height: 50px;

}

#shop{


    left: 92.2%;

    top: 25%;

}

#files{

    left: 93.5%;
    top: 37%;

}

#instagram{


    left: 8%;
    top: 75%;

}

#tiktok{


    left: 16.5%;
    top: 75%;

}

.bg-text{


    top: 5%;
    z-index: -1;

}

.bg-text img{


    width: 100%;
    height: 100%;
}

footer{

    overflow: hidden !important;



    top: 87%;

    
}

.footer-img-1{



    margin-left: -1%;
}


footer img{

   max-height: 100px; 


    padding: 5px;

}


}

