#container{

    top: 25%;
    left: 10%;

    width: fit-content;
    height: fit-content;

    position: absolute;

    display: block;
    box-sizing: border-box;
    border-radius: 5px;    

    box-shadow:  0 1px 0 rgba(0,0,0,.9),0 4px 8px 0 rgba(0,0,0,.3),0 5px 35px 0 rgba(0,0,0,.2);

    overflow: hidden;

    user-select: none;

    z-index: 10;

}

#container-header{
  
    display: flex;
    background-image: linear-gradient(180deg,#e7e6e7,#d1d0d1);
    border: solid 1px #b1b1b1;
    width: 100%;
    height: 4vh;

    flex-direction: row;
    flex-wrap: nowrap;

}

.icons{


    display: flex;
    width: fit-content;
    height: 4vh;

    justify-items: center;
    align-items: center;

}

.icons span{

    width: 1vw;
    height: 2vh;

    border-radius: 100%;
    margin: .25em;
    cursor: pointer;
}

.name{

    text-align: center;

    align-self: center;
   
}
#container-wrapper {
    height: 400px;
    width: 1200px;
    position: relative;
    background-color: white;
}

#container-wrapper #dino {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#container-wrapper #dino img {
    height: 70px;
    width: 70px;
}

.dinoActive {
    animation: animateDino 0.5s linear infinite;
}

@keyframes animateDino {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }
}

#container-wrapper #block {
    height: auto;
    width: auto;
    position: absolute;
    bottom: 30px;
    right: -20px;
}

#container-wrapper #block img {
    height: 75px;
    width: 175px;
}

.blockActive {
    animation: blockAnimate 1s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container-wrapper #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container-wrapper #road img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

#container-wrapper #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container-wrapper #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    animation: none;
}

@keyframes cloudAnimate {
    0% {
        left: -2000px;
    }

    100% {
        left: 100%;
    }
}

#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;

    text-align: center;
}

#gameOver {
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #525252;
}